{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	
    <h2>Welcome</h2>
    <p>This is the sample base that Glen Baker uses to set up new Django sites.  It is heavily based on Audrey Roy and Daniel Greenfield's setups.  Their github projects and their excellent book, 2 Scoops of Django.  Since everyone's starter project needs are different, don't use this as your starter project.  Instead, create a repo called handstand-frameworkname-yourname and put your starter project there.</p>

{% endblock %}
